/*!
 * Styles for section header share links
 */
@import 'mediawiki.mixins.less';
@import 'mediawiki.mixins.flex-align.less';

.mw-editsection-share {
	.oo-ui-popupWidget-popup {
		width: 50em !important;
		//min-width: 40em;
		max-width: 60vw;
	}

	.oo-ui-fieldLayout-body {
		.flex-display();
		.align-items( center );
	}

	.oo-ui-fieldLayout-header {
		width: 6em;
	}

	.oo-ui-fieldLayout-field {
		.flex-size( 1, 1, 30em );
	}

	.oo-ui-popupWidget-body {
		width: auto !important;
		max-width: none !important;
	}

	.oo-ui-textInputWidget,
	.oo-ui-actionFieldLayout.oo-ui-fieldLayout-align-top,
	.mw-widget-copyTextLayout > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-field {
		max-width: none;
	}

	.mw-widget-copyTextLayout {
		margin-bottom: 0.85714286em;
	}
}

.mw-editsection-share-popup-title {
	margin: 0;
	line-height: 1;
	text-align: center;
}

@transition-duration-base: 100ms;

.mw-editsection {
	@timing: @transition-duration-base * 2 ease-out;
	.transition( opacity @timing, visibility @timing; );
}

// It's a kind of magic.
h2:not( :focus-within ),
h3:not( :focus-within ),
h4:not( :focus-within ),
h5:not( :focus-within ),
h6:not( :focus-within ),
section:not( :focus-within ) > .mw-section--header:not( :hover ) {
	> .mw-editsection:not( .mw-pinned ) {
		opacity: 0;
		visibility: hidden;
		transition-delay: @transition-duration-base * 3; // Delay hiding.
		// Support: IE10, no prefixing for FF<=15, Chrome<=25, Safari<=8.4, Android<=4.4.4 - not worth the bytes.
	}
}
